$theme-color: #f2f2f2
$theme-green: #21ba45
$theme-gray: #e6e6e6
$theme-darkgray: #595959
$theme-red: #AD1A1A
$theme-blue: #1e77bc
$theme-fermin-gray: #333333

$card-color: white
$card-color-deactive: #f2f2f2
$font-stack: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif