@import "node_modules/preact-material-components/style";

@import "src/theme/light";
@import "src/theme/dark";

@font-face {
  font-family: "fontello";
  src: url("/assets/fonts/fontello.woff2");
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  > section {
    display: inherit;
    width: 100vw;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
textarea,
input {
  color: var(--fermin-theme-text);
}

i {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
}

.fermin-button--alert {
  &.mdc-button {
    background-color: var(--fermin-theme-alert);
  }
}

.mdc-theme--primary {
  color: var(--fermin-theme-primary);
}
.mdc-theme--primary-bg {
  background-color: var(--fermin-theme-primary);
}

.mdc-theme--secondary {
  color: var(--fermin-theme-secondary);
}
.mdc-theme--secondary-bg {
  background-color: var(--fermin-theme-secondary);
}

.mdc-theme--background {
  background-color: var(--fermin-theme-background);
}
.mdc-theme--surface {
  background-color: var(--fermin-theme-surface);
}

.mdc-text-field,
.mdc-notched-outline {
  input {
    &:hover ~ .mdc-notched-outline__idle,
    &:hover ~ .mdc-notched-outline--notched {
      border-color: var(--fermin-theme-secondary) !important;
      svg path {
        stroke: var(--fermin-theme-secondary) !important;
      }
    }
  }
  &--focused {
    label {
      color: var(--fermin-theme-secondary) !important;
    }
  }
}

.icon-user:before {
  content: "\e800";
} /* '' */
.icon-pencil:before {
  content: "\e801";
} /* '' */
.icon-layout:before {
  content: "\e802";
} /* '' */
.icon-plus:before {
  content: "\e803";
} /* '' */
.icon-trash:before {
  content: "\e804";
} /* '' */
.icon-sun-inv:before {
  content: "\e805";
} /* '' */
.icon-moon-inv:before {
  content: "\e806";
} /* '' */
.icon-math:before {
  content: "\f01a";
} /* '' */
