.notebook {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100vw;
  background-color: var(--fermin-theme-surface);
  .snackbar {
    background-color: var(--fermin-theme-positive);
    min-width: 0;
    div {
      padding: 0;
    }
  }
}
