doctype html

html(lang='en-us')
  head
    link(rel='manifest' type='application/json' href='manifest.webmanifest')
    link(rel='shortcut icon' type='image/png' href='assets/favicon.png')
    link(rel='preconnect' crossorigin href='https://storage.googleapis.com')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#00BFFF')
    meta(name='Description' content='fermin note taking progressive web app')
    meta(charset='utf-8')
    title(id='title') Fermin
  body
    main(id='app')
    script(src='./index.js')
    script( defer src='./service-worker.js')
    
    noscript You need to activate javascript to see this page    
