.login {
  display: grid;
  width: 100%;
  > section {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2rem;
    width: 24rem;
  }
}