.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  > section {
    width: max-content;
    display: grid;
    row-gap: 2rem;
  }
}