.notelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--fermin-theme-tertiary);
  padding-top: 1rem;
  overflow-y: scroll;
  min-width: 22rem;
  button {
    background-color: var(--fermin-theme-positive);
  }
  .header,
  .card {
    position: relative;
    height: 5rem;
    width: 20rem;
    margin: 0 1rem 1rem 1rem;
  }
  .header {
    box-sizing: border-box;
    border-bottom: solid 2px var(--fermin-theme-shadow);
    h2 {
      position: absolute;
      bottom: 0;
      margin: 0;
    }
  }
  .card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-right: solid 2px var(--mdc-theme-surface);
    background-color: var(--mdc-theme-surface);
    padding: 1rem;
    transition: all 0.05s;
    cursor: pointer;
    &:hover {
      transform: scale(0.99);
    }
    h2,
    p {
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    h2 {
      align-self: baseline;
    }
    p {
      align-self: end;
    }
    i {
      display: none;
      position: absolute;
      margin: 0.2rem;
      font-size: 14pt;
      right: 0;
      cursor: pointer;
      &.show {
        display: block;
      }
      &:hover {
        color: var(--fermin-theme-negative);
      }
    }
  }
  .active {
    border-right: solid 2px var(--fermin-theme-positive);
  }
}
