.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mdc-theme-primary);
  box-shadow: 2px 0px 4px -1px var(--fermin-theme-shadow),
    2px 0px 4px -1px var(--fermin-theme-shadow);
  width: 4rem;
  button {
    height: 4rem;
    i {
      color: var(--fermin-theme-white);
    }
  }
}
