.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mdc-theme-primary);
  width: 4rem;
  button {
    height: 4rem;
    i {
      color: var(--fermin-theme-white);
    }
  }
}
