@import "node_modules/@material/typography/mdc-typography";
@import "node_modules/preact-material-components/style";

@import "src/core/theme/colors";

body {
  display: flex;
  height: 100vh;
  margin: 0;
}
