header
  display: flex
  align-items: center
  padding-left: 30px
  font: normal 14pt Helvetica
  letter-spacing: 2px
  background-color: #333333
  color: white
  height: 48px
  border-bottom: 2px
  border-color: black
