@import shared/constants
@import shared/mixins

#List_main_container
  flex: 0.25
  display: flex
  margin-left: 1em
  flex-direction: column
  align-items: center

#ListElement_main_container
  background-color: $card-color
  border-radius: .28571429rem
  padding: 15px
  margin-top: 1em
  font-family: $font-stack
  transition: border-right 0.2s
  width: 90%
  min-width: 300px
  &.active
    border-right: 5px solid #21ba45
  &:hover
    filter: brightness(90%)
    cursor: pointer
  #ListElement_title_container
    font: 700 130% $font-stack
    margin-bottom: 1em

#List_add_element_button_container
  #List_add_element_button
    +button(white, #21ba45)
    margin-top: 2vh