@import shared/constants
@import shared/mixins

#Note_main_container
  position: relative
  display: flex
  background-color: $card-color
  border-radius: .28571429rem
  margin-left: 0
  flex: 1
  #Note_save_button_button
    +button(black, white, '')
    &:hover
      background: white
      color: $theme-green
    position: absolute
    top: 1.3em
    left: 520px

    &.disabled
      opacity: 0.2
      cursor: not-allowed
    &.saving
      opacity: 0.1
  #editor
    flex: 1
    display: flex
    flex-direction: column
    padding: 1em
    .ql-toolbar
      border: none
    .ql-container
      border: none
      padding-left: 0.2em
      font-size: 14px
      overflow: scroll
      .ql-editor
        p
          word-break: break-all
