:root {
  --fermin-theme-primary: #1a73e8;
  --fermin-theme-secondary: #174ea6;
  --fermin-theme-tertiary: #f0f8ff;

  --fermin-theme-positive: #32a852;
  --fermin-theme-negative: #dd2c00;

  --fermin-theme-icon: #fff;
  --fermin-theme-shadow: #00000033;
  --fermin-theme-placeholder: #757575;
  --fermin-theme-background: #fff;
  --fermin-theme-surface: #fff;

  --mdc-theme-primary: var(--fermin-theme-primary);
  --mdc-theme-secondary: var(--fermin-theme-secondary);
  --mdc-theme-background: var(--fermin-theme-background);
  --mdc-theme-surface: var(--fermin-theme-surface);
}

.mdc-theme--primary {
  color: var(--fermin-theme-primary);
}
.mdc-theme--primary-bg {
  background-color: var(--fermin-theme-primary);
}

.mdc-theme--secondary {
  color: var(--fermin-theme-secondary);
}
.mdc-theme--secondary-bg {
  background-color: var(--fermin-theme-secondary);
}

.mdc-theme--background {
  background-color: var(--fermin-theme-surface);
}
.mdc-theme--surface {
  background-color: var(--fermin-theme-surface);
}

.mdc-text-field--focused {
  input:hover {
    border-color: var(--fermin-theme-primary) !important;
  }
  label {
    color: var(--fermin-theme-primary) !important;
  }
}
