:root {
  --fermin-theme-primary: #3f5e5a;
  --fermin-theme-secondary: #2e4946;
  --fermin-theme-tertiary: #c0cecc;

  --fermin-theme-positive: #32a852;
  --fermin-theme-negative: #dd2c00;
  --fermin-theme-alert: #F06543;

  --fermin-theme-icon: #fff;
  --fermin-theme-overlay: #00000033;
  --fermin-theme-placeholder: #757575;
  --fermin-theme-background: #fff;
  --fermin-theme-surface: #fff;

  --mdc-theme-primary: var(--fermin-theme-primary);
  --mdc-theme-secondary: var(--fermin-theme-secondary);
  --mdc-theme-background: var(--fermin-theme-background);
  --mdc-theme-surface: var(--fermin-theme-surface);
}
.mdc-theme--primary {
  color: var(--fermin-theme-primary);
}
.mdc-theme--primary-bg {
  background-color: var(--fermin-theme-primary);
}

.mdc-theme--secondary {
  color: var(--fermin-theme-secondary);
}
.mdc-theme--secondary-bg {
  background-color: var(--fermin-theme-secondary);
}

.mdc-theme--background {
  background-color: var(--fermin-theme-surface);
}
.mdc-theme--surface {
  background-color: var(--fermin-theme-surface);
}

.fermin-button--alert {
  &.mdc-button {
    background-color: var(--fermin-theme-alert);
  }
}

// input fields
.mdc-text-field,
.mdc-notched-outline {
  input {
    &:hover ~ .mdc-notched-outline__idle,
    &:hover ~ .mdc-notched-outline--notched {
      border-color: var(--fermin-theme-secondary) !important;
      svg path {
        stroke: var(--fermin-theme-secondary) !important;
      }
    }
  }
  &--focused {
    label {
      color: var(--fermin-theme-secondary) !important;
    }
  }
}
