.card
  display: flex
  flex-direction: column
  cursor: pointer
  min-width: 160px
  max-width: 160px
  min-height: 200px
  max-height: 200px
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5
  transition: transform .1s, opacity .3s
  border-radius: .28571429rem
  margin: 22.5px 22.5px 5px 0px
  background-color: white
  opacity: 0
  &.mounted
    opacity: 1
  &:link
    text-decoration: none
  &:hover
    transform: translateY(-3px)
  .card_image
    flex: 4
    display: flex
    justify-content: center
    align-items: center
    border-top-left-radius: inherit
    border-top-right-radius: inherit
    img
      height: 50px
  .card_text
    flex: 1
    display: flex
    align-items: center
    justify-content: center

    p
      font: normal 12pt Helvetica, Areal
      -webkit-font-smoothing: antialiased
      letter-spacing: .05em
      word-wrap: break-word
      overflow: hidden
      color: #333333
      margin: 0
