.fermin-theme-dark {
  --fermin-primary-dark: #131215;
  --fermin-primary-medium: #19181c;
  --fermin-primary-light: #201f24;
  --fermin-primary-dark-contrast: #ffffff;
  --fermin-primary-medium-contrast: #bbbbbb;
  --fermin-primary-light-contrast: #bbbbbb;

  --fermin-positive-dark: #288641;
  --fermin-positive-medium: #32a852;
  --fermin-positive-light: #5ab974;
  --fermin-positive-dark-contrast: #ffffff;
  --fermin-positive-medium-contrast: #ffffff;
  --fermin-positive-light-contrast: #ffffff;

  --fermin-info-dark: #1a78c2;
  --fermin-info-medium: #2196f3;
  --fermin-info-light: #4dabf5;
  --fermin-info-dark-contrast: #ffffff;
  --fermin-info-medium-contrast: #ffffff;
  --fermin-info-light-contrast: #ffffff;

  --fermin-warning-dark: #cc7900;
  --fermin-warning-medium: #ff9800;
  --fermin-warning-light: #ffac32;
  --fermin-warning-dark-contrast: #ffffff;
  --fermin-warning-medium-contrast: #ffffff;
  --fermin-warning-light-contrast: #ffffff;

  --fermin-error-dark: #c3352b;
  --fermin-error-medium: #f44336;
  --fermin-error-light: #f6685e;
  --fermin-error-dark-contrast: #ffffff;
  --fermin-error-medium-contrast: #ffffff;
  --fermin-error-light-contrast: #ffffff;

  --fermin-overlay: #00000033;
  --fermin-overlay-contrast: #ffffff;

  --fermin-background: var(--fermin-primary-light);
  --fermin-background-contrast: var(--fermin-primary-light-contrast);

  --fermin-surface: var(--fermin-primary-medium);
  --fermin-surface-contrast: var(--fermin-primary-medium-contrast);
}
