.fermin-theme-light {
  --fermin-theme-primary: #3f5e5a;
  --fermin-theme-primary-dark: #2e4946;

  --fermin-theme-secondary: #2e4946;
  --fermin-theme-tertiary: #c0cecc;
  --fermin-theme-neutral: #e0e0e0;

  --fermin-theme-positive: #32a852;
  --fermin-theme-positive-dark: #298842;
  --fermin-theme-negative: #f44336;
  --fermin-theme-alert: #ff9800;
  --fermin-theme-alert-dark: #d88200;
  --fermin-theme-info: #2196f3;

  --fermin-theme-icon-on-dark: #fff;
  --fermin-theme-icon-on-light: #000;

  --fermin-theme-placeholder: #a0a0a0;
  --fermin-theme-label: #a0a0a0;
  --fermin-theme-input: #bbbbbb;

  --fermin-theme-text: #202020;
  --fermin-theme-text-inverted: #fff;

  --fermin-theme-overlay: #00000033;
  --fermin-theme-background: #fff;
  --fermin-theme-surface: #fff;

  --mdc-theme-primary: var(--fermin-theme-primary);
  --mdc-theme-secondary: var(--fermin-theme-secondary);
  --mdc-theme-background: var(--fermin-theme-background);
  --mdc-theme-surface: var(--fermin-theme-surface);
}
