.fermin-theme-light {
  --fermin-primary-dark: #2d2c34;
  --fermin-primary-medium: #393741;
  --fermin-primary-light: #605e66;
  --fermin-primary-dark-contrast: #ffffff;
  --fermin-primary-medium-contrast: #ffffff;
  --fermin-primary-light-contrast: #ffffff;

  --fermin-positive-dark: #288641;
  --fermin-positive-medium: #32a852;
  --fermin-positive-light: #5ab974;
  --fermin-positive-dark-contrast: #ffffff;
  --fermin-positive-medium-contrast: #ffffff;
  --fermin-positive-light-contrast: #ffffff;

  --fermin-info-dark: #1a78c2;
  --fermin-info-medium: #2196f3;
  --fermin-info-light: #4dabf5;
  --fermin-info-dark-contrast: #ffffff;
  --fermin-info-medium-contrast: #ffffff;
  --fermin-info-light-contrast: #ffffff;

  --fermin-warning-dark: #cc7900;
  --fermin-warning-medium: #ff9800;
  --fermin-warning-light: #ffac32;
  --fermin-warning-dark-contrast: #ffffff;
  --fermin-warning-medium-contrast: #ffffff;
  --fermin-warning-light-contrast: #ffffff;

  --fermin-error-dark: #c3352b;
  --fermin-error-medium: #f44336;
  --fermin-error-light: #f6685e;
  --fermin-error-dark-contrast: #ffffff;
  --fermin-error-medium-contrast: #ffffff;
  --fermin-error-light-contrast: #ffffff;

  --fermin-overlay: #00000033;
  --fermin-overlay-contrast: #ffffff;

  --fermin-background: #e6e6e6;
  --fermin-background-contrast: #141414;

  --fermin-surface: white;
  --fermin-surface-contrast: #141414;
}
